.container {
    h2 {
      margin-top: 30px;
      margin-bottom: 20px;
      font-weight: bold;
    }
  
    .card {
      border: 1px solid #ddd;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  
      .card-header {
        background-color: #f8f9fa;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
      }
  
      .card-footer {
        background-color: #f8f9fa;
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
      }

      .right{
        display: flex;
        grid-gap: 5px;
      }

      .delete, .edit{
        padding-top: .5rem;
        cursor: pointer;
      }
    }
  }
  
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .post-ride{
    height: 3rem
  }

  .empty-rides{
    margin: 2rem;
    background-color: #efefef;
    height: 10rem;
    width: 100%;
  }

  .no-rides-warning{
    padding-top: 5rem;
    padding-left: 35rem;
    font-style: italic;
    color: #666666;
  }