<div class="container">
    <h2 class="title">Admin Dashboard</h2>
  
    <div class="dashboard-cards">
      <div class="card">
        <h3>Total Users</h3>
        <p>{{ dadhboardMetrics.totalUsers }}</p>
      </div>
      <div class="card">
        <h3>Total Drivers</h3>
        <p>{{ dadhboardMetrics.totalDrivers }}</p>
      </div>
      <div class="card">
        <h3>Total Riders</h3>
        <p>{{ dadhboardMetrics.totalRiders }}</p>
      </div>
      <div class="card">
        <h3>Successful Rides</h3>
        <p>{{ dadhboardMetrics.successfulRides }}</p>
      </div>
      <div class="card">
        <h3>Cancelled Rides</h3>
        <p>{{ dadhboardMetrics.cancelledRides }}</p>
      </div>
      <div class="card">
        <h3>Upcoming Rides</h3>
        <p>{{ dadhboardMetrics.upcomingRides }}</p>
      </div>
      <div class="card">
        <h3>Total Revenue</h3>
        <p>${{ dadhboardMetrics.totalRevenue }}</p>
      </div>
      <div class="card">
        <h3>Admin Share</h3>
        <p>${{ dadhboardMetrics.adminShare }}</p>
      </div>
      <div class="card">
        <h3>Drivers Share</h3>
        <p>${{ dadhboardMetrics.driverShare }}</p>
      </div>
    </div>
  </div>
  