.landing-page{
    display: flex;
    flex-direction: row;
}
.left-panel{
    width: 50%;
    padding: 10rem 3rem 3rem 3rem;
}

.right-panel{
    width: 50%;
    padding: 1rem;
}
.action-items{
    display: flex;
    flex-direction: row;
    grid-gap: 1rem;
}